* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Beaufort for LOL Bold";
}

html {
    margin: 0;
}

body {
    background-color: rgba(254, 123, 229, 0.6);
    margin: 0;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #313866;
    position: absolute;
    border-bottom: #974EC3 solid 10px;
    text-transform: uppercase;
    top: 0;
    box-shadow: 0 20px 35px black;
    color: #dcbb65;
    text-shadow: 0 5px 5px black;
    overflow: hidden;
}

#header h1 {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

#logo {
    width: 150px;
    position: absolute;
    left: 10px;
    top: 15px;
}

#input {
    position: relative;
    top: 200px;
    border: #313866 solid 5px;
    background-color: #313866;
    padding: 10px;
    width: 440px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    color: #dcbb65;
    text-shadow: 0 5px 5px black;
    box-shadow: #974EC3 0 0 3px 3px;
}

#board {
    position: relative;
    top: 200px;
}

#result img {
    border: 5px solid #313866;
    border-radius: 5px;
    box-shadow: #974EC3 0 0 3px 3px;
}